.vscode/**
.vscode-test/**
node_modules/**
.git/**
.gitignore
.eslintrc.json
.prettierrc
.editorconfig
vsc-extension-quickstart.md
CONTRIBUTING.md
**/jsconfig.json
**/*.map
**/*.vsix
test/**
*.md
!README.md
!CHANGELOG.md
src/**
tsconfig.json
**/*.ts
